.wrapper {
    width: 100vw;
    height: 100vh;
    background: #17002F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.wrapper button {
    background: #73D677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-weight: 700;
    font-size: 1.43rem;
    width: 16vw;
    height: 7.3vh;
    margin-top: 6vh;
}

@media only screen and (max-width: 767px) {
    .wrapper button {
        width: 30vw;
        height: 7.3vh;
    }

}

@media only screen and (max-width: 1224px) {
    .wrapper img {
        width: 90%;
    }
}


