.characters {
  background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.characters-block {
  width: 78vw;
  height: 75vh;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(10%);
}

.characters-title {
  font-weight: 400;
  font-size: 2.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
}

.characters-title-weight {
  font-weight: 700;
}

.filters {
  margin: 5.6vh 0 5vh 0;
  text-align: left;
  display: flex;
}

.select {
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  width: 8vw;
  height: 3vh;
  margin-left: 1vw;
  cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////////*/

.card-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  place-items: center;
}

.card {
  width: 24.4vw;
  height: 15.1vh;
  background: #f0f0f0;
  border-radius: 8px;
  filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
  text-align: left;
}
.card-items {
  padding: 0.6vh 0 0 1.8vw;
  cursor: pointer;
}

.card-name {
  color: #212121;
  font-weight: 700;
  font-size: 1.2rem;
}

.card-parameters {
  font-weight: 400;
  display: flex;
  color: #212121;
  text-align: center;
}

.parameters-block {
  width: 42px;
  margin: 1.8vh 2vh 0.2vh 0;
}

.card-parameters span {
  border: 3px solid #212121;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-parameters p {
  color: #4b4b4b;
  font-size: 0.75rem;
  margin-top: 0.5vh;
}

.card-bottom {
  color: #212121;
  margin-top: 0.5vh;
}

.card-bottom span {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  height: 16px;
  width: 100%;
  text-align: center;
  margin-right: 1vw;
  padding: 2px 10px 2px 10px;
}

.pagination-block {
  justify-content: center;
  display: flex;
}

.pagination {
  display: flex;
  list-style: none;
  cursor: pointer;
  gap: 10px;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1f2a63;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #ffc107;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
/*///////////////////////////////////////////////////////////////////////////////////*/

.modal-wrapper {
  width: 100vw;
  position: absolute;
  height: 200vh;
  background: #212121;
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.modal {
  width: 55.6vw;
  height: 41.2vh;
  background: linear-gradient(180deg, #17002f 42.19%, #1f2a63 100%);
  border-radius: 16px;
  position: absolute;
  display: flex;
  z-index: 222;
}

.close {
  position: absolute;
  right: 0;
}

.modal-left {
  width: 27.3vw;
  background: #1f2a63;
  border-radius: 16px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-left img {
  /*width: 18vw;*/
}

.modal-right {
  display: flex;
  width: 30.3vw;
  padding: 4vh 0 0 2vw;
  text-align: left;
  flex-direction: column;
}

.modal-right-name {
  color: #fdfdfd;
  font-weight: 700;
  font-size: 2.25rem;
}

.modal-right-parameters {
  width: 18.3vw;
  height: 15.6vh;
  background: #fdfdfd;
  display: flex;
  margin: 3vh 0 0 0;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.parameters-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vh;
  font-size: 1.25rem;
}

.modal-parameters-bottom {
  width: 5.7vw;
  height: 7.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfdfd;
  border-radius: 8px;
}

/*////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1200px) {
  .characters-block {
    height: 70vh;
  }
  .select {
    width: 20%;
    font-size: 20px;
  }
  .select option {
    font-size: 12px;
  }
  .modal-left img {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .filters {
    margin: 2vh 0 3vh 0;
  }
  .select {
    width: 15vw;
  }
  .select option {
    font-size: 12px;
  }
  .pagination {
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
  }

  .card-name {
    font-size: 1rem;
  }
  .card-bottom span {
    font-size: 0.75rem;
  }
  .modal {
    width: 60vw;
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .characters-block {
    height: 120vh;
    width: 95vw;
    transform: translateY(3%);
  }
  .card-block {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  .card {
    width: 40vw;
    height: 18vh;
  }
  .select {
    font-size: 14px;
  }
  .pagination {
    gap: 4px;
    justify-content: center;
  }
  .pagination a {
    padding: 4px;
  }
  .modal {
    width: 90vw;
    top: 20%;

  }
  .modal-left {
    width: 35vw;
  }
  .modal-right-parameters {
    width: 40vw;
  }
  .parameters-text {
    font-size: 1rem;
  }
  .modal-parameters-bottom {
    width: 15vw;
    height: 90%;
  }
  .modal-right {
    width: 100%;
  }
  .modal-right-name {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    height: 20vh;
  }
  .characters-block {
    height: 140vh;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    height: 25vh;
  }
  .characters-block {
    height: 175vh;
  }
}
